*{
			margin: 0;
			padding: 0;
		}

		body{
			font-family: Arial,sans-serif;
			background-color: white;
		}

		h1 {
			text-align: left;
			font-size: 50px;
			font-family: cursive;
			background-color: purple;
			color: lightgrey;
		    padding: 40px;
		    opacity:90%;

}

div>p{
	margin-left: 30px;
	margin-top:80px;
	font-size: 22px;
	font-weight: bold;
	font-family: Arial;
	font-size: 60px;
	color: black;
	opacity: 85%;
	text-align: center;
}

